@import '~@standardnotes/stylekit/dist/stylekit.css';

body,
html {
  margin: 0;
  font-family: system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100vh;
  width: 100vw;
}

.excalidraw {
  --color-primary: var(--sn-stylekit-info-color);

  .App-menu.App-menu_top {
    display: flex;
    justify-content: center;

    .Stack.Stack_vertical.disable-pointerEvents {
      display: none;
    }

    .ToolIcon__library,
    .ToolIcon__lock,
    .ToolIcon__penMode {
      display: none !important;
    }
  }
}
